doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form
  body
    h1 Hello World
    form(method="post", action="/")
      input(type="hidden", name="_csrf", value=csrfToken)
      input(type="text", name="name", placeholder="Full Name")
      button(type="submit") Submit Form
