:root {
    --global-font: "Poppins", system-ui, sans-serif;
    --fs-small-heading: 1.625rem;
    --fw-small-heading: 900;
    --lh-small-heading: 1;
    --fs-page-heading: 3.375rem;
    --fw-page-heading: 900;
    --lh-page-heading: 1.15;
    --fs-section-heading: 2.375rem;
    --fw-section-heading: 900;
    --lh-section-heading: 1.2;
    --fs-card-heading: 1.5rem;
    --fw-card-heading: 900;
    --lh-card-heading: 1;
    --fs-lg: 1.25rem;
    --fw-lg: 600;
    --lh-lg: 1.5;
    --fs-body: 1rem;
    --fw-body: 500;
    --lh-body: 1.5;
    --fs-btn: 1.125rem;
    --fw-btn: 800;
    --lh-btn: 1;
    --color-theme: #075767;
    --color-theme-dim: #074b59;
    --color-theme-transparent: #5E929C;
    --color-theme-background: #F2F6F7;
    --text-on-theme: #FFFFFF;
    --color-accent: #C2EF45;
    --color-accent-dim: #b4df40;
    --text-on-accent: #000000;
    --section-spacing: 4rem;
}

@media (width < 1024px) {
    :root {
        --fs-small-heading: 1.125rem;
        --fs-page-heading: 2.625rem;
        --fs-section-heading: 1.875rem;
        --fs-card-heading: 1.5rem;
        --fs-lg: 1.12rem;
        --fs-body: 1rem;
        --fs-btn: 1rem;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-size: var(--fs-body);
    font-family: var(--global-font);
    font-weight: var(--fw-body);
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--section-spacing) * 2);
}

/* #region Global Nav */

#global-nav {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    gap: 2rem;
    align-items: center;
    padding-inline: 4rem;
    background: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    padding-block: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1;

    & #nav-logo {
        display: grid;
        grid-template-columns: max-content max-content;
        grid-template-rows: max-content max-content;
        column-gap: 1rem;

        & img {
            grid-column: 1;
            grid-row: 1 / 3;
            min-height: 100%;
            height: 0;
        }

        & p {
            align-self: last baseline;
            font-weight: 900;
            font-size: var(--fs-lg);
            line-height: 1;
        }

        & p,
        & small {
            margin-block: .125rem;
            height: fit-content;
        }

        & small {
            font-size: .875rem;
        }
    }

    & #nav-links {
        display: flex;
        gap: 2rem;
        list-style: none;
        padding: 0;

        & li a {
            border: none;
            color: #222;
        }
    }
}

@media (width < 1024px) {
    #global-nav {
        padding-inline: 1rem;
    }
}

@media (width < 700px) {
    #global-nav {
        grid-template-columns: 1fr max-content;

        & #nav-logo> :not(img) {
            display: none;
        }

        & #nav-logo img {
            height: 45px;
        }

        & #nav-links {
            position: fixed;
            top: 0px;
            right: 0px;
            background: #fff;
            height: 100%;
            flex-direction: column;
            padding: 1rem 0;
            width: min(400px, 80vw);
            overflow: hidden;
            gap: 0;
            transform: translateX(100%);
            transition: transform 500ms cubic-bezier(0.23, 1, 0.320, 1), box-shadow 200ms ease;

            &.open {
                transform: translateX(0);
                box-shadow: 0px 0px 0 100vw rgba(0, 0, 0, 0.25);
            }

            & li a {
                font-size: var(--fs-small-heading);
                display: block;
                padding: 1rem 2rem;
                width: 100%;

                &:hover {
                    background: var(--color-theme-background);
                }
            }

            & li:has(#close-mobile-nav) {
                display: flex;
                align-items: center;
                justify-content: end;
                width: 100%;
            }

            & #close-mobile-nav {
                margin-bottom: 1rem;
                margin-right: 1rem;
            }
        }
    }
}

@media (width >=700px) {
    .mobile-only {
        display: none !important;
    }
}

@media (width < 1024px) {
    #global-nav #nav-logo small {
        font-size: .7rem;
    }
}

@supports (animation-timeline: scroll()) {
    #global-nav {
        background: transparent;
        box-shadow: none;
        animation: nav-animation 1ms linear forwards;
        animation-timeline: scroll();
        animation-range: cover 0px cover calc(0% + 7rem);
    }
}

@keyframes nav-animation {
    0% {
        box-shadow: none;
        background: transparent;
    }

    100% {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        background: #fff;
    }
}

/* #endregion */

a:not(.btn) {
    color: var(--color-theme);
    font-weight: 700;
    line-height: 1.35;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .25rem;
    border-bottom: 2px solid var(--color-theme);
    width: fit-content;

    &:active {
        border-bottom-color: transparent;
    }
}

img {
    max-width: 100%;
}

#bright-heading {
    color: var(--color-theme);
}

#page-hero {
    background: linear-gradient(to bottom, rgba(255, 255, 255, .65), rgba(255, 255, 255, 1)), url(/images/hero_background.jpg/1920/1080);
    background-size: cover;
    background-position: center;
    min-height: max(100vh, 35rem);
    min-height: max(100dvh, 35rem);
    padding-block: var(--section-spacing) 0;
    display: grid;
    place-items: center;
}

@media (width < 700px) {
    #page-hero {
        min-height: 100vh;
        min-height: 100dvh;
    }
}

.section-theme-background {
    background: var(--color-theme-background);
}

section[class*="background"] {
    padding-block: var(--section-spacing);
}

.btn {
    --shadow-color: rgba(0, 0, 0, 0.15);
    border: none;
    box-shadow: 0px -5px 0px var(--shadow-color) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: fit-content;
    padding: 1rem 1.5rem;
    background: var(--color-accent);
    cursor: pointer;
    border-radius: 4px;
    font-size: var(--fs-btn);
    font-weight: var(--fw-btn);
    line-height: var(--lh-btn);
    color: var(--text-on-accent);
    text-decoration: none;

    &:disabled {
        opacity: .75;
        filter: grayscale(100%);
        cursor: not-allowed;
    }

    &:not(.outline):hover {
        background: var(--color-accent-dim);
    }

    &:not(.outline):active {
        box-shadow: none;
        transform: translateY(3px);
    }

    &.theme {
        --shadow-color: rgba(0, 0, 0, 0.25);
        background: var(--color-theme);
        color: var(--text-on-theme);

        &:hover {
            background: var(--color-theme-dim);
        }
    }

    & svg,
    & img {
        width: 20px;
    }

    &.square {
        aspect-ratio: 1;
        padding: 0;
        width: 52px;
    }

    &.icon svg,
    &.icon img {
        width: 24px;
    }

    &.full-width {
        width: 100%;
        padding-block: 1.25rem;
    }

    &.small {
        font-size: 1rem;
    }

    &.outline {
        background: transparent;
        outline: 2px solid #000000;
        outline-offset: -2px;
        box-shadow: none;

        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }

        &:active {
            background: rgba(0, 0, 0, 0.1);
        }
    }

    &#facebook {
        background: #0865FE;
        color: var(--text-on-theme);
    }

    &#instagram {
        background: linear-gradient(91.23deg, #FF7A00 0%, #FF0169 50.06%, #D300C5 99.36%);
        color: var(--text-on-theme);
    }

    &#facebook:not(:active),
    &#instagram:not(:active) {
        box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.2) inset;
    }
}

form {
    margin-top: calc(var(--section-spacing) / 2);
    display: flex;
    flex-direction: column;
    gap: .625rem;

    & .input-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    & #error-text:empty {
        display: none;
    }
}

#thank-you-page,
#psa-section {
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    padding: 2rem 1rem;
    border: 1px solid var(--color-theme);
    margin-top: calc(var(--section-spacing) / 2);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
    background: var(--color-theme-background);
    display: none;

    &.visible {
        display: flex;
    }

    & .text-section-heading {
        margin-top: .5em;
    }

    & p:last-of-type {
        color: var(--color-theme-dim);
    }
}

@media (width < 700px) {
    form .input-group:not(.options) {
        grid-template-columns: 1fr;
    }

    form .input-group.options {
        gap: .25rem;
    }

    #thank-you-page {
        & svg {
            max-height: 100px;
        }
    }
}

label {
    color: var(--color-theme-transparent);
    transition: color 200ms ease;

    & span {
        color: #da1212;
    }

    &:has(input[type="checkbox"]) {
        display: flex;
        gap: .5rem;
        align-items: center;
        color: #222;
    }

    &:has(:focus) {
        color: var(--color-theme);
    }
}

input:not([type="checkbox"]),
select,
textarea {
    margin-top: .25em;
    width: 100%;
    padding: .75rem 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: outline 200ms ease;
    outline: 2px solid transparent;
    outline-offset: -2px;
    color: #222;
    background: #fff;

    &:focus {
        outline-color: var(--color-theme);
    }
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:focus {
    transition: outline 200ms ease, background-color 0ms 600000s, color 0s 600000s !important;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    accent-color: var(--color-theme);
}

.radio-label {
    display: grid;
    place-items: center;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #222;
    cursor: pointer;
    margin-top: .25em;
    transition: color 200ms ease, background 200ms ease, border 200ms ease;
    font-size: var(--fs-body);

    & input {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
        clip-path: inset(0px 0px 99.9% 99.9%);
        overflow: hidden;
        height: 1px;
        width: 1px;
        padding: 0;
        border: 0
    }

    &:has(:checked) {
        background: var(--color-theme-background);
        color: var(--color-theme);
        border-color: var(--color-theme);
        font-weight: 700;
    }
}

@media (width < 700px) {
    .radio-label {
        padding: .75rem 1rem;
        font-size: .875rem;
    }
}

button[type="submit"] {
    margin-top: 1em;
}

textarea {
    min-height: 6lh;
    resize: none;
}

.btn-container {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

@media (width < 1024px) {
    .btn-container .btn:not(.square) {
        width: 100%;
    }
}

@media (width < 700px) {
    .btn-container:not(:has(.square)) {
        flex-direction: column;
    }

    .btn-container:has(.square) {
        justify-content: start;
    }
}

.card-container {
    margin-top: calc(var(--section-spacing) / 2);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding-inline: 1rem;
    width: fit-content;
    width: -moz-fit-content;
    margin-inline: auto;
}

@media (width < 1660px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width < 700px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}

.even-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    max-width: 1300px;
    margin-inline: auto;
    margin-top: calc(var(--section-spacing) / 2);
    padding-inline: 1rem;
}

@media (width < 1024px) {
    .even-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 1rem;
        max-width: 80ch;
    }
}

@media (width < 700px) {
    .even-card-container {
        grid-template-columns: 1fr;
    }
}

.reason-card {
    min-height: 100%;

    & h3 {
        margin-top: .5em;
    }

    & p {
        margin-block: .75em;
    }

    & .btn {
        margin-top: auto;
    }
}

.service-card {
    max-width: 38ch;
    display: grid;
    grid-template-rows: max-content 1fr;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.05);
    flex-shrink: 0;

    & img {
        grid-row: 1;
        grid-column: 1;
        aspect-ratio: 1.75 / 1;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    & .service-card-content {
        padding: 0 1rem 1rem 1rem;
        background: white;
        grid-row: 2;
        grid-column: 1;
        box-shadow: 0px 0px 40px 50px white;
        display: flex;
        flex-direction: column;
        height: 100%;

        & p {
            margin-bottom: .75em;
        }

        & hr {
            margin-block: auto 1em;
            border-color: rgba(0, 0, 0, 0.05);
        }
    }
}

@media (width < 700px) {
    .service-card {
        max-width: unset;
        width: 100%;

        & img {
            aspect-ratio: 2.5 / 1;
        }
    }
}

.image-carousel {
    display: flex;
    height: 250px;
    gap: 1rem;
    margin-inline: 4rem;
    margin-top: calc(var(--section-spacing) / 2);
    overflow: hidden;

    & img {
        flex-shrink: 0;
        min-width: 325px;
        object-fit: cover;
        object-position: center;
        border-radius: 4px;
    }
}

@media (width < 1024px) {
    .image-carousel {
        height: 200px;
        margin-inline: 1rem;

        & img {
            min-width: 225px;
        }
    }
}

@media (width < 700px) {
    .image-carousel {
        overflow: auto;
    }
}

.image-carousel-controls {
    margin-top: calc(var(--section-spacing) / 4);
    margin-inline: 4rem;
    display: flex;
    gap: 1rem;
    justify-content: right;
}

@media (width < 1024px) {
    .image-carousel-controls {
        margin-inline: 1rem;
    }
}

#faqs {
    background: var(--color-theme-background);
    padding-block: var(--section-spacing);

    & h2 {
        margin-bottom: .75em;
    }

    & hr {
        border-color: rgba(0, 0, 0, 0.1);
        margin: .25em 0;
    }
}

details {
    width: 100%;
    border-radius: .5em;

    & summary {
        padding: .75em 0;
        cursor: pointer;
        border-radius: .5em;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & svg {
            width: 15px;

            [stroke] {
                stroke: currentColor;
            }
        }

        &:-webkit-details-marker {
            display: none;
        }
    }

    & p {
        padding-bottom: 1em;
        opacity: .85;
    }

    &[open] svg {
        transform: rotateX(180deg);
    }
}

@media (width < 1024px) {
    details summary {
        padding: .625em 0;
    }

    details p {
        padding-bottom: .75em;
    }
}

footer {
    background: var(--color-theme);
    padding-block: 1rem;

    & .text-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & a {
            display: inline;
            color: var(--text-on-theme);
            border-color: var(--text-on-theme);
        }

        & p {
            margin: 0;
            color: var(--text-on-theme);
        }
    }
}

@media (width < 700px) {
    footer .text-container {
        flex-direction: column;
        gap: 1rem;
    }
}

/* #region Utility Classes */

.text-container {
    font-size: 1rem;
    margin-inline: auto;
    max-width: 80ch;
}

@media (width >=1024px) {
    .center-self {
        margin-inline: auto;
    }
}

@media (width < 1024px) {
    .text-container {
        padding-inline: 1rem;
    }
}

@media (width >=1024px) {
    .text-center {
        text-align: center;
        text-wrap: balance;
    }

    .text-page-heading,
    .text-section-heading {
        text-wrap: balance;
    }
}

.text-page-heading {
    font-size: var(--fs-page-heading);
    font-weight: var(--fw-page-heading);
    line-height: var(--lh-page-heading);
    color: var(--color-theme);
}

.text-section-heading {
    font-size: var(--fs-section-heading);
    font-weight: var(--fw-section-heading);
    line-height: var(--lh-section-heading);
    color: var(--color-theme);
}

.text-card-heading {
    font-size: var(--fs-card-heading);
    font-weight: var(--fw-card-heading);
    line-height: var(--lh-card-heading);
    color: var(--color-theme);
}

.text-small-heading {
    font-size: var(--fs-small-heading);
    font-weight: var(--fw-small-heading);
    line-height: var(--lh-small-heading);
    text-transform: uppercase;
    color: var(--color-theme-transparent);
}

.text-body {
    font-size: var(--fs-body);
    font-weight: var(--fw-body);
    line-height: var(--lh-body);
}

.text-lg {
    font-size: var(--fs-lg);
    font-weight: var(--fw-lg);
    line-height: var(--lh-lg);
}

.text-red {
    color: #da1212;
}

/* #endregion */

/* #region Spacings */

.text-small-heading+.text-page-heading,
.text-small-heading+.text-section-heading {
    margin-top: .25em;
}

.text-page-heading+.text-lg,
.text-section-heading+.text-lg {
    margin-top: .5em;
}

.text-card-heading+p {
    margin-top: .5em;
}

.btn-container {
    margin-top: 1em;
}

section+section {
    margin-top: var(--section-spacing);
}

p+p {
    margin-top: .75em;
}

/* #endregion */